{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "minify": true,
        "transpileTemplateLiterals": true,
        "pure": true,
        "displayName": false, // generate other classname
        "fileName": false, // generate other classname
        "preprocess": false
      }
    ]
  ]
}
